/API/COMB.SpaParking.API/obj
/API/COMB.SpaParking.API/bin
/API/COMB.SpaParking.Application/obj
/API/COMB.SpaParking.Application/bin
/API/COMB.SpaParking.Base/obj
/API/COMB.SpaParking.Base/bin
/API/COMB.SpaParking.Domain/obj
/API/COMB.SpaParking.Domain/bin
/API/COMB.SpaParking.Infrastructure/obj
/API/COMB.SpaParking.Infrastructure/bin
/API/COMB.SpaParking.Persistence/bin
/API/COMB.SpaParking.Persistence/obj
/API/COMB.SpaParking.Specification/obj
/API/COMB.SpaParking.Specification/bin
/UI/COMB.SpaParking.UI/COMB.SpaParking.UI.Server/bin
/UI/COMB.SpaParking.UI/COMB.SpaParking.UI.Server/obj
/UI/COMB.SpaParking.UI/comb.spaparking.ui.client/obj
/.vs
/UI/COMB.SpaParking.MVC/bin/Debug/net9.0
/UI/COMB.SpaParking.MVC/obj
