<app-header></app-header>
<!-- Page content -->
<div class="page-content">
  <div class="sidebar sidebar-main sidebar-expand-lg">
    <!-- Sidebar content -->
    <div class="sidebar-content">
      <app-sidebar></app-sidebar>
    </div>
  </div>
  <!-- /main sidebar -->
  <!-- Main content -->
  <div class="content-wrapper">
    <!-- Inner content -->
    <div class="content-inner">
        <!-- Content area -->
        <div class="content">
          <!-- Content area -->
          <router-outlet></router-outlet>
        </div>
        <!-- /content area -->
    </div>
    <!-- /inner content -->
  </div>
  <!-- /main content -->
</div>
<!-- /page content -->