
<div class="text-center">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger">
				<h1 class="display-1">Bad Request</h1>
				<p>The request could not be understood by the server due to malformed syntax. 
                    The client SHOULD NOT repeat the request without modifications.</p>
            </div>
        </div>
    </div>
</div>
