
<div class="text-center">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger">
				<h1 class="display-1">Error</h1>
				<p>An error occurred while processing your request.</p>
            </div>
        </div>
    </div>
</div>
